body {
    padding: 1%;
    margin: 1%;
    background-color: blue;
}

header {
    background-color: aqua;
    text-align: center;
}
.titrePrincipal {
    padding: 20px;
    border-bottom: solid;
}
header h1{
    background-color: brown;
    font-size: 58px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: solid;
}

main{
    background-color: azure;
    text-align: center;
}

.box{
    width: 20%;
    padding: 1%;
    margin: 5%;
    border-block: solid ;
}

main section {
    display: flex;
}
